.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
.node circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}
text {
    font: 15px sans-serif;
    pointer-events: none;
}
